body{
	margin: 50;
	font-size: 30;
}
h1{
	text-align: center;
	color:darkslateblue;
}

p{
	text-align: center;
	font-size: 20;
}

.main_p{
	text-align: center;
	color:darkslategray;
	font-family: Georgia, serif;
	font-size: 30;
}
